::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.container {
    background-color: white;
    width: 100vw;
    height: 74vh;
    margin: 40px auto;
    border-radius: 8px;
    display: flex;
    /* display: row; */
    overflow-y: scroll; 
    font-family: "Bungee";
    display: flex;
    flex-direction: column-reverse;
    
}

.messages {
    margin: 20px auto;
    /* margin-top: 235px; */
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    text-align: left;
    padding: 15px; 
    
}

.chat-input {
    width: 75%;
    border-radius: 10px;
    margin: 1px auto 
    
}

Button {
    padding: 5px;
} 

h2{  
    font-family: Bungee;
    color: #000133;
} 
.horizontalRule{ 
    background-color: red;
} 

.message{ 
    background-color: #fdf5e6; 
    margin-bottom: 20px;
}