
.AboutPage { 
    font-family: "Bungee";
    display: flex; 
    flex-direction: column;  
    justify-content: center; 
    justify-items: center;
    align-items: center; 
    align-content: center;
    color: white;   
    background-color: brown;
   
    /* background-color: #cccccc; */
    /* background-color: #7EADDC; */
    min-height: 100vh; 
    width: 100%;

} 
.theParagraphs{ 
    width: 90vw; 
   height:  95vh;  
   background-image: url("/public/faces.jpeg");
   background-color: black; 
   overflow-y: scroll;
}
p{ 
    font-family: "Bungee Hairline"; 
    font-weight: 700;
    color: white; 
    font-size: 30px; 
    margin: 20px 40px 10px 40px; 
    padding: 30px;
} 
body {
    background-color: black;
    font-family: cursive;
  } 
  h2{  
      padding: 30px;
      background-color: white; 
      width: 100%;
  }
  
