.AccountPage{ 
    font-family: "Bungee"; 
    width: 100vw;
    height: 100vh; 
    display: flex; 
    flex-direction: column;  
    align-items: center; 
    align-content: center;
    flex-wrap: wrap;
}  
.timerAndButton{  
    /* margin-top: 20px; 
    margin-right: none; */ 
    margin: auto;
    width: 50vw; 
    
    display: flex; 
    flex-direction: row; 
    justify-items: center;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
}

.TimerArea{ 
   
    width: 25% ;
} 
.PB{ 
    /* margin-top: -20px; */
    width: 25%;
}

.Main{ 
    display: flex; 
    flex-direction: column; 
    justify-items: center; 
    align-items: center; 
    flex-wrap: wrap;
    width: 80%; 
    height: 75vh; 
    margin: 0px;
}

.Title{  
    margin-top: 40px; 
    text-align: center; 
    font-size: 30px; 
    color: whitesmoke; 
    background-color: #212F3D; 
    width: 100%; 
    opacity: .9 ;
}

.Info{ 
    font-size: 20px;
    width: 100%;
    height: 80%; 
    justify-content: center; 
    justify-items: center;
    align-items: center; 
    background-color:yellow;  
    /* margin-top: 10px; */
    margin-bottom: 10px; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
   
}

.TextArea{  
    overflow-y: scroll;
    width: 50%!important; 
    height: 100%;  
    display: flex; 
    flex-direction: column; 
    /* border: 2px solid whitesmoke;  */
    background-color: white;  
    align-items: center;   
    justify-content: space-around;  
   
} 



/* 
.flexColumn { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;  
    
    
   
}  */

.data{
    font-family: "Bungee Hairline";
    font-weight: 600;
    color: black;
} 

.EC{ 
    align-items: center;
    background-color:black;
    color: white; 
    overflow-y: scroll;
    width: 50%!important; 
    height: 100%;  
    display: flex; 
    flex-direction: column;  
    justify-content: space-around;  
}


.container {
    background-color: antiquewhite;
}

@media screen and (max-width: 800px) {
    #container {
      display: none;
    }
  }