.FeedPage{ 
    font-family: "Coda Caption";
}


header{ 
    border: 2px solid black; 
    height: 15%; 
    text-align: center; 
    font-family: "Coda Caption";
    
}


.TimelineArea{ 

    height: 75vh;
    width: 25%;
    text-align: center; 
    border: 2px solid black; 
    justify-content: center;
    align-items: center; 

}  
.TextArea{ 
    width: 80% ; 
    height: 90% ; 
    background-color: black;
    border: 2px solid black;
}

.AccountArea{ 
    height: 50px; 
    width: 100px; 
    text-align: center; 
    
}

.FriendsArea{  

    height: 50px; 
    width: 100px;
    text-align: center;
} 

.LocationArea{  

    height: 60vh; 
    width: 55%; 
    text-align: center; 
    border: 2px solid black;

} 

.ChatArea{  

    height: 60vh; 
    width: 15%; 
    text-align: center; 
    border: 2px solid black;  
    justify-content: center;
    align-items: center; 

} 

.flexRow{ 
    display: flex; 
    flex-direction: row;

} 

.flexColumn{ 
    display: flex; 
    flex-direction: column;
} 

.quickLinks{ 
    position: absolute; 
    right: 0px; 
    justify-content: flex-end; 
    
} 

.spaceBetween{ 
    justify-content: space-between;
    
} 

.end{ 
    align-items: flex-end;
}