.FeedPage{ 
    font-family: "Coda Caption";
}


header{ 
    border: 2px solid white; 
    height: 15%; 
    text-align: center; 
    font-family: "Coda Caption";
    
}

.TextArea{ 
    width: 80% ; 
    height: 90% ; 
    background-color: black;
    border: 2px solid white;
}

.AccountArea{ 
    height: 50px; 
    width: 100px; 
    text-align: center; 
    
}

.FriendsArea{  
    text-align: center; 
    border: 2px solid white;
    margin: 15px;
    padding: 10px;
    width: 25%;
    color: white;
    height: 85vh;
}

.LocationArea{   
    text-align: center; 
    border: 2px solid white;
    margin: 15px;
    padding: 10px;
    width: 75%;
    color: white;
    height: 80vh;

} 

.quickLinks{ 
    position: absolute; 
    right: 0px; 
    justify-content: flex-end; 
    
} 

.spaceBetween{ 
    justify-content: space-between;
    
} 

.end{ 
    align-items: flex-end;
} 