.par {
  color: aliceblue;
  font-size: 3vh;
  font-family: "Bungee Hairline";
}

.button {
  font-family: "Bungee";
  color: "white"; 
  height: '4vh';
  width: 100%;
  fontSize: '90%'; 
  onhover: "pointer" 
}

@media screen and (max-width: 800px) {
  .par {
      display: none;
  }
}
