.EmergencyContacts { 
    width: 50%;
    height: 25vh;  
    color: white;
    background-color: red; 
    align-items: center;
} 

.data{
    font-family: "Bungee Hairline";
    font-weight: 600;
    color: black;
} 

.flexColumn { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
}  

