

.Timer1{  
    font-family: "Bungee"; 
    /* max-width: 25%; */  
    /* max-width:  100%; 
    min-width: 100%;
    width: 100%;
    height: 100%;   */
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;  
    background-color: yellow;


}


.numbers{ 
    color: white; 
    font-size: 22px; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    /* font-size: 00%; */
    min-width: 40%; 
    max-width: 40%; 
    min-height: 100%;
    /* height: 100%;  */
}  
.flexRight{ 
    min-width: 60%; 
    max-width: 60%;
}

.timeSelect{ 
    border-radius: 0;
    text-align: center; 
   max-height: calc(100% /3);
} 
.timeSelect:first-of-type{ 
    background-color: green;
} 
.timeSelect:nth-of-type(2){ 
    background-color: red; 
    
}

.flexColumn{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    min-width: 100%; 
    max-width: 100%;
} 
.select{  
    text-align: center; 
    /* min-width: 60%;
    max-width: 60%; */
}